.app {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.title {
  font-family: 'Saira Stencil One', sans-serif;
  font-size: 2.5rem;
}

.divider,
.dividerLong{
  border: none; 
  height: 2px; 
  background-color: whitesmoke; 
}

.divider{
  margin-right: 30px;
  margin-left: 30px;
}

.banner {
  color: black;
  padding: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-component,
.right-component {
  flex: 1;
  margin: 10px;
  padding: 20px;
}

.left-component {
  margin-right: 5px;
}

.right-component {
  margin-left: 5px;
}
